In [1]:
print('hi')

hi

#### 초급 문제 (10문제)
1. 데이터셋을 판다스 데이터프레임으로 읽어오세요.
2. 데이터프레임의 첫 5행을 출력하세요.
3. 데이터프레임의 열 이름을 출력하세요.
4. 'Quantity' 열의 평균값을 구하세요.
5. 'Price' 열의 최대값을 구하세요.
6. 'Product' 열의 고유한 값들을 출력하세요.
7. 'CustomerID' 열의 값의 개수를 세세요.
8. 'Date' 열의 데이터 타입을 확인하세요.
9. 'Quantity'가 3 이상인 행만 필터링하여 출력하세요.

In [3]:
import numpy as np
import pandas as pd

In [8]:
#1. 데이터셋을 판다스 데이터프레임으로 읽어오세요.
df = pd.read_csv('sales_data.csv')

In [9]:
#2. 데이터프레임의 첫 5행을 출력하세요.
df.head(5)

   OrderID   Product  Quantity  Price        Date CustomerID
0        1  Widget A         4     20  2023-01-01       C001
1        2  Widget B         2     30  2023-01-02       C002
2        3  Widget A         1     20  2023-01-03       C001
3        4  Widget C         5     15  2023-01-04       C003
4        5  Widget B         3     30  2023-01-05       C002

In [16]:
print?

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [17]:
# 3. 데이터프레임의 열 이름을 출력하세요.
for ele in df.columns.values.tolist() :
  print(ele, end='\t')

OrderID	Product	Quantity	Price	Date	CustomerID

In [26]:
#4. 'Quantity' 열의 평균값을 구하세요.
print(df['Quantity'].mean())
print(df['Quantity'].sum())
print(df['Quantity'].max())
print(df['Quantity'].min())
print(df['Quantity'].var())
print(df['Quantity'].std())
print(df['Quantity'].quantile(.25))
print(df['Quantity'].quantile(.50))
print(df['Quantity'].quantile(.75))

2.7
27
5
1
1.788888888888889
1.3374935098492586
2.0
2.5
3.75

In [27]:
#5. 'Price' 열의 최대값을 구하세요.
df['Price'].max()

30

In [43]:
#6. 'Product' 열의 고유한 값들을 출력하세요.
for ele in df['Product'].unique().tolist() :
  print(ele, end='\t')
print()
print('==')

print(df['Product'].unique()) # 고유값 목록
print(df['Product'].value_counts())   # 고유값과 갯수
print(df['Product'].nunique())  # 고유값의 갯수

Widget A	Widget B	Widget C
==
['Widget A' 'Widget B' 'Widget C']
Product
Widget A    4
Widget B    3
Widget C    3
Name: count, dtype: int64
3

In [45]:
# 7. 'CustomerID' 열의 값의 개수를 세세요.
df['CustomerID'].count()  # nan값을 제외한 값의 개수

10

In [ ]:
# 8. 'Date' 열의 데이터 타입을 확인하세요.
print(df['Date'].dtypes)
df.info()

object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     10 non-null     int64
 1   Product     10 non-null     object
 2   Quantity    10 non-null     int64
 3   Price       10 non-null     int64
 4   Date        10 non-null     object
 5   CustomerID  10 non-null     object
dtypes: int64(3), object(3)
memory usage: 612.0+ bytes

In [54]:
print(pd.to_datetime(df['Date']).dt.year)
print(pd.to_datetime(df['Date']).dt.month)
print(pd.to_datetime(df['Date']).dt.day)

0    2023
1    2023
2    2023
3    2023
4    2023
5    2023
6    2023
7    2023
8    2023
9    2023
Name: Date, dtype: int32
0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: Date, dtype: int32
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: Date, dtype: int32

In [62]:
# 9. 'Quantity'가 3 이상인 행만 필터링하여 출력하세요.
print(df[df['Quantity']>=3])
print(df.loc[df['Quantity']>=3])

idx = df[df['Quantity']>=3].index
print(df.iloc[idx])

print(df.query('Quantity >= 3'))

   OrderID   Product  Quantity  Price        Date CustomerID
0        1  Widget A         4     20  2023-01-01       C001
3        4  Widget C         5     15  2023-01-04       C003
4        5  Widget B         3     30  2023-01-05       C002
7        8  Widget B         4     30  2023-01-08       C005
8        9  Widget A         3     20  2023-01-09       C001
   OrderID   Product  Quantity  Price        Date CustomerID
0        1  Widget A         4     20  2023-01-01       C001
3        4  Widget C         5     15  2023-01-04       C003
4        5  Widget B         3     30  2023-01-05       C002
7        8  Widget B         4     30  2023-01-08       C005
8        9  Widget A         3     20  2023-01-09       C001
   OrderID   Product  Quantity  Price        Date CustomerID
0        1  Widget A         4     20  2023-01-01       C001
3        4  Widget C         5     15  2023-01-04       C003
4        5  Widget B         3     30  2023-01-05       C002
7        8  Widget B         4     30  2023-01-08       C005
8        9  Widget A         3     20  2023-01-09       C001
   OrderID   Product  Quantity  Price        Date CustomerID
0        1  Widget A         4     20  2023-01-01       C001
3        4  Widget C         5     15  2023-01-04       C003
4        5  Widget B         3     30  2023-01-05       C002
7        8  Widget B         4     30  2023-01-08       C005
8        9  Widget A         3     20  2023-01-09       C001

#### 중급 문제 (20문제)
11. 'Date' 열을 기준으로 데이터프레임을 정렬하세요.
12. 'CustomerID'별 총 구매 수량을 구하세요.
13. 'Price'가 20 이상인 제품의 목록을 출력하세요.
14. 'Quantity'가 2 이상인 주문의 'OrderID'를 출력하세요.
15. 'Product'별 평균 가격을 구하세요.
16. 'Date' 열을 datetime 형식으로 변환하세요.
17. 'Date'별 총 판매량을 구하세요.
18. 'CustomerID'가 'C001'인 고객의 모든 주문을 출력하세요.
19. 'Product'별 총 매출액을 구하세요 (매출액 = Quantity * Price).
10. 'Quantity'가 가장 많은 주문을 찾으세요.
11. 'Product'별 주문 수를 구하세요.
12. 'Date'별 평균 가격을 구하세요.
13. 'CustomerID'별 가장 최근 주문 날짜를 구하세요.
14. 'Product'별 최소 가격을 구하세요.
15. 'Quantity'가 1인 주문의 'OrderID'를 출력하세요.
16. 'Price'가 평균 가격보다 높은 제품을 출력하세요.
17. 'Date'가 2023-01-05 이후의 모든 주문을 출력하세요.
18. 'Product'별 총 수익을 구하세요 (수익 = Quantity * Price).
19. 'CustomerID'별 평균 구매 수량을 구하세요.
20. 'Product'별 주문 수와 총 매출액을 함께 출력하세요.

In [66]:
# 11. 'Date' 열을 기준으로 데이터프레임을 정렬하세요.
print(df['Date'].sort_values())
print(df['Date'].sort_values(ascending=False))
print(df.sort_values('Date',ascending=True))
print(df.sort_values('Date',ascending=False))

0    2023-01-01
1    2023-01-02
2    2023-01-03
3    2023-01-04
4    2023-01-05
5    2023-01-06
6    2023-01-07
7    2023-01-08
8    2023-01-09
9    2023-01-10
Name: Date, dtype: object
9    2023-01-10
8    2023-01-09
7    2023-01-08
6    2023-01-07
5    2023-01-06
4    2023-01-05
3    2023-01-04
2    2023-01-03
1    2023-01-02
0    2023-01-01
Name: Date, dtype: object
   OrderID   Product  Quantity  Price        Date CustomerID
0        1  Widget A         4     20  2023-01-01       C001
1        2  Widget B         2     30  2023-01-02       C002
2        3  Widget A         1     20  2023-01-03       C001
3        4  Widget C         5     15  2023-01-04       C003
4        5  Widget B         3     30  2023-01-05       C002
5        6  Widget A         2     20  2023-01-06       C004
6        7  Widget C         1     15  2023-01-07       C003
7        8  Widget B         4     30  2023-01-08       C005
8        9  Widget A         3     20  2023-01-09       C001
9       10  Widget C         2     15  2023-01-10       C006
   OrderID   Product  Quantity  Price        Date CustomerID
9       10  Widget C         2     15  2023-01-10       C006
8        9  Widget A         3     20  2023-01-09       C001
7        8  Widget B         4     30  2023-01-08       C005
6        7  Widget C         1     15  2023-01-07       C003
5        6  Widget A         2     20  2023-01-06       C004
4        5  Widget B         3     30  2023-01-05       C002
3        4  Widget C         5     15  2023-01-04       C003
2        3  Widget A         1     20  2023-01-03       C001
1        2  Widget B         2     30  2023-01-02       C002
0        1  Widget A         4     20  2023-01-01       C001

In [74]:
# 12. 'CustomerID'별 총 구매 수량을 구하세요.
# case1) []접근방식 사용
print(df.groupby('CustomerID')['Quantity'].sum())
# case2) agg() 이용
print(df.groupby('CustomerID').agg({'Quantity':'sum'}))
# case3) pivot_table() 이용 : groupby대신 사용가능
display(df.pivot_table(index='CustomerID',values='Quantity',aggfunc='sum'))

CustomerID
C001    8
C002    5
C003    6
C004    2
C005    4
C006    2
Name: Quantity, dtype: int64
            Quantity
CustomerID
C001               8
C002               5
C003               6
C004               2
C005               4
C006               2

            Quantity
CustomerID
C001               8
C002               5
C003               6
C004               2
C005               4
C006               2

In [95]:
df[df['Price'] >= 20].index

Index([0, 1, 2, 4, 5, 7, 8], dtype='int64')

In [109]:
# 13. 'Price'가 20 이상인 제품의 목록을 출력하세요.
print(df[df['Price'] >= 20]['Product'])
print(df.loc[df['Price'] >= 20,'Product'])
print(df.iloc[df[df['Price'] >= 20].index, df.columns.get_loc('Product')])
print(df.query('Price >= 20')['Product'])

0    Widget A
1    Widget B
2    Widget A
4    Widget B
5    Widget A
7    Widget B
8    Widget A
Name: Product, dtype: object
0    Widget A
1    Widget B
2    Widget A
4    Widget B
5    Widget A
7    Widget B
8    Widget A
Name: Product, dtype: object
0    Widget A
1    Widget B
2    Widget A
4    Widget B
5    Widget A
7    Widget B
8    Widget A
Name: Product, dtype: object
0    Widget A
1    Widget B
2    Widget A
4    Widget B
5    Widget A
7    Widget B
8    Widget A
Name: Product, dtype: object

In [110]:
# 14. 'Quantity'가 2 이상인 주문의 'OrderID'를 출력하세요.
print(df[df['Quantity'] >= 2]['OrderID'])
print(df.loc[df['Quantity'] >= 2,'OrderID'])
print(df.iloc[df[df['Quantity'] >= 2].index, df.columns.get_loc('OrderID')])
print(df.query('Quantity >= 2')['OrderID'])

0     1
1     2
3     4
4     5
5     6
7     8
8     9
9    10
Name: OrderID, dtype: int64
0     1
1     2
3     4
4     5
5     6
7     8
8     9
9    10
Name: OrderID, dtype: int64
0     1
1     2
3     4
4     5
5     6
7     8
8     9
9    10
Name: OrderID, dtype: int64
0     1
1     2
3     4
4     5
5     6
7     8
8     9
9    10
Name: OrderID, dtype: int64

In [114]:
# 15. 'Product'별 평균 가격을 구하세요.
print(df.groupby('Product')['Price'].mean())
print(df.groupby('Product').agg({'Price':'mean'}))
print(df.pivot_table(index='Product', values='Price', aggfunc='mean'))

Product
Widget A    20.0
Widget B    30.0
Widget C    15.0
Name: Price, dtype: float64
          Price
Product
Widget A   20.0
Widget B   30.0
Widget C   15.0
          Price
Product
Widget A   20.0
Widget B   30.0
Widget C   15.0

In [115]:
# 16. 'Date' 열을 datetime 형식으로 변환하세요.
pd.to_datetime(df['Date'])

0   2023-01-01
1   2023-01-02
2   2023-01-03
3   2023-01-04
4   2023-01-05
5   2023-01-06
6   2023-01-07
7   2023-01-08
8   2023-01-09
9   2023-01-10
Name: Date, dtype: datetime64[ns]

In [116]:
# 17. 'Date'별 총 판매량을 구하세요.
print(df.groupby('Date')['Quantity'].sum())
print(df.groupby('Date').agg({'Quantity':'sum'}))
print(df.pivot_table(index='Date', values='Quantity', aggfunc='sum'))

Date
2023-01-01    4
2023-01-02    2
2023-01-03    1
2023-01-04    5
2023-01-05    3
2023-01-06    2
2023-01-07    1
2023-01-08    4
2023-01-09    3
2023-01-10    2
Name: Quantity, dtype: int64
            Quantity
Date
2023-01-01         4
2023-01-02         2
2023-01-03         1
2023-01-04         5
2023-01-05         3
2023-01-06         2
2023-01-07         1
2023-01-08         4
2023-01-09         3
2023-01-10         2
            Quantity
Date
2023-01-01         4
2023-01-02         2
2023-01-03         1
2023-01-04         5
2023-01-05         3
2023-01-06         2
2023-01-07         1
2023-01-08         4
2023-01-09         3
2023-01-10         2

In [118]:
# 18. 'CustomerID'가 'C001'인 고객의 모든 주문을 출력하세요.
print(df[df['CustomerID'] == 'C001'])
print(df.loc[df['CustomerID'] == 'C001'])
print(df.iloc[df[df['CustomerID']  == 'C001'].index])
print(df.query("CustomerID  == 'C001'"))

   OrderID   Product  Quantity  Price        Date CustomerID
0        1  Widget A         4     20  2023-01-01       C001
2        3  Widget A         1     20  2023-01-03       C001
8        9  Widget A         3     20  2023-01-09       C001
   OrderID   Product  Quantity  Price        Date CustomerID
0        1  Widget A         4     20  2023-01-01       C001
2        3  Widget A         1     20  2023-01-03       C001
8        9  Widget A         3     20  2023-01-09       C001
   OrderID   Product  Quantity  Price        Date CustomerID
0        1  Widget A         4     20  2023-01-01       C001
2        3  Widget A         1     20  2023-01-03       C001
8        9  Widget A         3     20  2023-01-09       C001
   OrderID   Product  Quantity  Price        Date CustomerID
0        1  Widget A         4     20  2023-01-01       C001
2        3  Widget A         1     20  2023-01-03       C001
8        9  Widget A         3     20  2023-01-09       C001

In [121]:
# 19. 'Product'별 총 매출액을 구하세요 (매출액 = Quantity * Price).
df['매출액'] = df['Quantity'] * df['Price']
print(df.groupby('Product')['매출액'].sum())
print(df.groupby('Product').agg({'매출액':'sum'}))
print(df.pivot_table(index='Product',values='매출액',aggfunc='sum'))

Product
Widget A    200
Widget B    270
Widget C    120
Name: 매출액, dtype: int64
          매출액
Product
Widget A  200
Widget B  270
Widget C  120
          매출액
Product
Widget A  200
Widget B  270
Widget C  120

In [132]:
# 20. 'Quantity'가 가장 많은 주문을 찾으세요.
print(df[df['Quantity'] == df['Quantity'].max()])
print(df.iloc[df['Quantity'].idxmax()].to_frame().T)

   OrderID   Product  Quantity  Price        Date CustomerID  매출액
3        4  Widget C         5     15  2023-01-04       C003   75
  OrderID   Product Quantity Price        Date CustomerID 매출액
3       4  Widget C        5    15  2023-01-04       C003  75

In [141]:
# 21. 'Product'별 주문 수를 구하세요.
print(df.groupby('Product')['OrderID'].count())
print(df.groupby('Product').agg({'OrderID':'count'}))
print(df.pivot_table(index='Product',values='OrderID',aggfunc='count'))
print(df['Product'].value_counts())

Product
Widget A    4
Widget B    3
Widget C    3
Name: OrderID, dtype: int64
          OrderID
Product
Widget A        4
Widget B        3
Widget C        3
          OrderID
Product
Widget A        4
Widget B        3
Widget C        3
Product
Widget A    4
Widget B    3
Widget C    3
Name: count, dtype: int64

In [144]:
# 23. 'CustomerID'별 가장 최근 주문 날짜를 구하세요.
print(df.groupby('CustomerID')['Date'].max())
print(df.groupby('CustomerID').agg({'Date':'max'}))
print(df.pivot_table(index='CustomerID',values='Date',aggfunc='max'))

CustomerID
C001    2023-01-09
C002    2023-01-05
C003    2023-01-07
C004    2023-01-06
C005    2023-01-08
C006    2023-01-10
Name: Date, dtype: object
                  Date
CustomerID
C001        2023-01-09
C002        2023-01-05
C003        2023-01-07
C004        2023-01-06
C005        2023-01-08
C006        2023-01-10
                  Date
CustomerID
C001        2023-01-09
C002        2023-01-05
C003        2023-01-07
C004        2023-01-06
C005        2023-01-08
C006        2023-01-10

In [145]:
# 24. 'Product'별 최소 가격을 구하세요.
print(df.groupby('Product')['Price'].min())
print(df.groupby('Product').agg({'Price':'min'}))
print(df.pivot_table(index='Product',values='Price',aggfunc='min'))

Product
Widget A    20
Widget B    30
Widget C    15
Name: Price, dtype: int64
          Price
Product
Widget A     20
Widget B     30
Widget C     15
          Price
Product
Widget A     20
Widget B     30
Widget C     15

In [146]:
# 25. 'Quantity'가 1인 주문의 'OrderID'를 출력하세요.
print(df[df['Quantity'] == 1]['OrderID'])
print(df.loc[df['Quantity'] == 1,'OrderID'])
print(df.iloc[df[df['Quantity']  == 1].index], df.columns.get_loc('OrderID'))
print(df.query("Quantity  == 1")['OrderID'])

2    3
6    7
Name: OrderID, dtype: int64
2    3
6    7
Name: OrderID, dtype: int64
   OrderID   Product  Quantity  Price        Date CustomerID  매출액
2        3  Widget A         1     20  2023-01-03       C001   20
6        7  Widget C         1     15  2023-01-07       C003   15 0
2    3
6    7
Name: OrderID, dtype: int64