### 국내 시가총액 상위10개종목의 2024년도 주가추이 비교하기

In [1]:
# 데이터 분석 패키지
import numpy as np
import pandas as pd

In [2]:
# 모든 컬럼을 출력하도록 설정
pd.set_option('display.max_columns', None)  # None으로 설정하면 모든 컬럼 출력
# 모든 행을 출력하도록 설정
pd.set_option('display.max_rows', 50)  # None으로 설정하면 모든 행 출력

In [3]:
# 시각화 패키지
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# matplotlib 한글지원 패키지
import koreanize_matplotlib

In [33]:
# FinanceDataReader import
import FinanceDataReader as fdr

In [34]:
fdr.__version__

'0.9.94'

#### 1) 종목정보가져오기

In [6]:
df_stocks = pd.read_csv('stocks.csv')

In [7]:
df_stocks.shape

(2855, 23)

In [8]:
df_stocks.columns

Index(['Code', 'Name', 'Market', 'Dept', 'Close', 'ChangeCode', 'Changes',
       'ChagesRatio', 'Open', 'High', 'Low', 'Volume', 'Amount', 'Marcap',
       'Stocks', 'MarketId', 'Sector', 'Industry', 'ListingDate',
       'SettleMonth', 'Representative', 'HomePage', 'Region'],
      dtype='object')

In [40]:
# 국내 시가총액 상위10개종목의 코드
top10_codes = df_stocks.sort_values(by='Marcap', ascending=False).head(10)[['Code','Name']]

In [45]:
top10_codes.values

array([['005930', '삼성전자'],
       ['000660', 'SK하이닉스'],
       ['373220', 'LG에너지솔루션'],
       ['207940', '삼성바이오로직스'],
       ['005380', '현대차'],
       ['068270', '셀트리온'],
       ['000270', '기아'],
       ['005935', '삼성전자우'],
       ['010130', '고려아연'],
       ['105560', 'KB금융']], dtype=object)

In [59]:
arr1, arr2 = top10_codes.values[:,0], top10_codes.values[:,1]

In [62]:
dict(zip(arr1,arr2))

{'005930': '삼성전자',
 '000660': 'SK하이닉스',
 '373220': 'LG에너지솔루션',
 '207940': '삼성바이오로직스',
 '005380': '현대차',
 '068270': '셀트리온',
 '000270': '기아',
 '005935': '삼성전자우',
 '010130': '고려아연',
 '105560': 'KB금융'}

In [68]:
# 2차원배열 => 딕셔너리로 변환 
# case1)딕셔너리 컴프리핸션
# dict_top10_codes = { ele[0] : ele[1] for ele in top10_codes.values }
# case2) zip : iterable객체의 동일 인덱스에 있는 요소들을 묶어서 튜플로 반환
# dict_top10_codes = dict(zip(top10_codes.values[:,0],top10_codes.values[:,1]))
# case3) tolist : numpy의 ndarray를 파이썬의 list로 변환
dict_top10_codes = dict(top10_codes.values.tolist())
dict_top10_codes

{'005930': '삼성전자',
 '000660': 'SK하이닉스',
 '373220': 'LG에너지솔루션',
 '207940': '삼성바이오로직스',
 '005380': '현대차',
 '068270': '셀트리온',
 '000270': '기아',
 '005935': '삼성전자우',
 '010130': '고려아연',
 '105560': 'KB금융'}

#### 2) 종목 시세 가져오기

In [55]:
# fdr.DataReader('005930','2024')

In [69]:
item_dict = {}
for key, value in dict_top10_codes.items() :
    item_dict[value] = fdr.DataReader(key,'2024')
    
len(item_dict)

10

In [70]:
item_dict['고려']

             Open   High    Low  Close    Volume    Change
Date
2024-01-02  78200  79800  78200  79600  17142847  0.014013
2024-01-03  78500  78800  77000  77000  21753644 -0.032663
2024-01-04  76100  77300  76100  76600  15324439 -0.005195
2024-01-05  76700  77100  76400  76600  11304316  0.000000
2024-01-08  77000  77500  76400  76500  11088724 -0.001305
...           ...    ...    ...    ...       ...       ...
2024-12-04  52000  53400  52000  53100  29004766 -0.009328
2024-12-05  53200  54400  53200  53700  23588277  0.011299
2024-12-06  53900  54400  52700  54100  22861874  0.007449
2024-12-09  53500  54600  53200  53400  26227680 -0.012939
2024-12-10  54500  54500  53700  53900  17539265  0.009363

[231 rows x 6 columns]